[Unit]
Description=Keep LPUART7 Always Active for MCXC143VFM Communication
Documentation=man:systemd.service(5)
After=multi-user.target
DefaultDependencies=false

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'echo on > /sys/devices/platform/soc@0/42000000.bus/42690000.serial/power/control'
ExecStart=/bin/sh -c 'echo -1 > /sys/devices/platform/soc@0/42000000.bus/42690000.serial/power/autosuspend_delay_ms'
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
