[Unit]
Description=Run miscellaneous board init scripts
DefaultDependencies=no
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/board-init.sh

[Install]
WantedBy=sysinit.target
