[Unit]
Description=Create a set of default network manager connections
Wants=network-online.target
After=network-online.target
# Doesnt' seem to work probably as /etc/machine-id exists?
#ConditionFirstBoot=true

[Service]
User=root
ExecStart=/bin/bash /usr/bin/setup-default-connections.sh
ExecStartPost=/usr/bin/systemctl disable setup-default-connections
Type=oneshot

[Install]
WantedBy=multi-user.target
