[Unit]
Description=CE audio testing
After=pulseaudio.service

[Service]
User=fio
ExecStart=/bin/bash /usr/bin/ce-audio-test.sh

[Install]
WantedBy=multi-user.target
