[Unit]
Description=CE microphone testing
After=pulseaudio.service

[Service]
User=fio
ExecStart=/bin/bash /usr/bin/ce-mic-test.sh

[Install]
WantedBy=multi-user.target
