[Unit]
Description=Active-Edge early display splash
DefaultDependencies=no
After=local-fs.target systemd-udev-trigger.service
Before=basic.target graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/screen-splash /usr/share/screen-splash/active-edge-splash-1920x1200.png
TimeoutStartSec=20
NoNewPrivileges=yes
ProtectHome=yes
ProtectSystem=strict
PrivateTmp=yes

[Install]
WantedBy=basic.target
