[Unit]
Description=Sound Service

[Service]
User=root
ExecStart=/usr/bin/pulseaudio --system --log-target=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
