# TI out-of-tree snd-soc-tac5x1x (MACHINE_FEATURES tac5x1x-ti-audio).
# Do not build the Lore / in-kernel MFD + pinctrl + ASoC tac5x1x stack (tac5x1x-audio).
# CONFIG_MFD_TAC5X1X is not set
# CONFIG_PINCTRL_TI_TAC5X1X is not set
# CONFIG_SND_SOC_TAC5X1X is not set
