[Unit]
Description=E-ink Board Custom Restart Handler
DefaultDependencies=no
After=final.target
Before=systemd-reboot.service

[Service]
Type=oneshot
ExecStart=/usr/bin/eink-restart.sh
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=final.target
