[Unit]
Description=Setup Wake-on-WLAN for eink board
Before=sleep.target suspend.target hibernate.target hybrid-sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/setup-wowlan.sh
RemainAfterExit=yes
TimeoutSec=30

[Install]
WantedBy=sleep.target suspend.target
