# Keep U-Boot diagnostics on serial while allowing boot.cmd to own scanout.
CONFIG_VIDEO=y
CONFIG_VIDEO_MXS=y
CONFIG_VIDEO_IMX_SEC_DSI=y
CONFIG_VIDEO_LCD_HIMAX_HX8279D=y
# CONFIG_VIDEO_LCD_RAYDIUM_RM67191 is not set
CONFIG_BMP_24BPP=y
CONFIG_CMD_BMP=y
CONFIG_SPLASH_SCREEN=y
CONFIG_SPLASH_SCREEN_ALIGN=y
# CONFIG_VIDEO_LOGO is not set
