[Unit]
Description=Sound Service
After=audio-driver.service

[Service]
User=root
ExecStart=/usr/bin/pulseaudio --system --log-target=syslog --disallow-exit --disallow-module-loading
Restart=on-failure

[Install]
WantedBy=multi-user.target
