[Unit]
Description=Radar Presence Detecting Application
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no
StartLimitIntervalSec=0

[Service]
User=root
ExecStart=/usr/bin/seamless_dev_spi spi.mode="presence"
Restart=always
RestartSec=5s

[Install]
WantedBy=basic.target
